<html>
<head>
	<style>
	 img {max-height:80px;}
	 </style>
</head>
<body>
  <a href="/">Back to index</a>
  <h1>Makers</h1>
  <ul>
#foreach ($item in $makers)
    <li><a href="/maker/${item.maker_id}">${item.maker_name}</a></li>
#end
  </ul>
</body>
</html>

