<html>
<head>
	<style>
	 img {max-height:80px;}
	 </style>
</head>
<body>
  <a href="/">Back to index</a>
  <h1>Sellers</h1>
  <ul>
#foreach ($item in $sellers)
    <li><a href="/seller/${item.seller_id}">${item.seller_name}</a></li>
#end
  </ul>
</body>
</html>


